body{
    background-color: rgb(156, 208, 239);
    margin: 0;
}
h1{
    color: black;
    font-size: 80px;
    text-align: center;
}
.btn{
    margin-left: 150px;
    margin-bottom: 20px;
}
.number{
    color: black;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 7px;
}
.number:hover{
    background-color: orangered;
}
#bingo-number{
    margin-left: 150px;
    margin-right: 150px;
}
#random-num{
    margin-left: 150px;
    margin-bottom: 50px;
    width: 200px;
}

.number1{
    color: black;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 7px;
}

.user-board{
    margin: 150px;
}
.board-title{
    text-align: center;
    font-size: xx-large;
    margin-bottom: -50px;
    margin-top: 80px;
}